[submodule "src/pocketfft"]
	path = src/pocketfft
	url = https://github.com/hayguen/pocketfft
[submodule "src/pocketfft-c"]
	path = src/pocketfft-c
	url = https://github.com/malfet/pocketfft
[submodule "src/libdwt"]
	path = src/libdwt
	url = https://github.com/xbarin02/libdwt
[submodule "src/libnsgt"]
	path = src/libnsgt
	url = https://github.com/mrgreywater/libnsgt
[submodule "src/pffft"]
	path = src/pffft
	url = https://github.com/marton78/pffft
[submodule "src/fastfilter"]
	path = src/fastfilter
	url = https://github.com/RedhawkSDR/fastfilter
[submodule "src/FilterBank"]
	path = src/FilterBank
	url = https://github.com/Dirog/FilterBank
[submodule "src/PolyphaseFilterBank"]
	path = src/PolyphaseFilterBank
	url = https://github.com/alexranaldi/PolyphaseFilterBank
[submodule "src/pffft-blustein"]
	path = src/pffft-blustein
	url = https://github.com/cpuimage/pffft
