[submodule "src/pocketfft"]
	path = src/pocketfft
	url = https://github.com/hayguen/pocketfft
[submodule "src/pocketfft-c"]
	path = src/pocketfft-c
	url = https://github.com/malfet/pocketfft
[submodule "src/libdwt"]
	path = src/libdwt
	url = https://github.com/xbarin02/libdwt
[submodule "src/libnsgt"]
	path = src/libnsgt
	url = https://github.com/mrgreywater/libnsgt
[submodule "src/pffft"]
	path = src/pffft
	url = https://github.com/marton78/pffft
[submodule "src/fastfilter"]
	path = src/fastfilter
	url = https://github.com/RedhawkSDR/fastfilter
[submodule "src/FilterBank"]
	path = src/FilterBank
	url = https://github.com/Dirog/FilterBank
[submodule "src/PolyphaseFilterBank"]
	path = src/PolyphaseFilterBank
	url = https://github.com/alexranaldi/PolyphaseFilterBank
[submodule "src/pffft-blustein"]
	path = src/pffft-blustein
	url = https://github.com/cpuimage/pffft
[submodule "sonic-visualiser"]
	path = sonic-visualiser
	url = https://github.com/sonic-visualiser/sonic-visualiser
[submodule "tony"]
	path = tony
	url = https://github.com/sonic-visualiser/tony
[submodule "loudia"]
	path = loudia
	url = https://github.com/rikrd/loudia
[submodule "opensmile"]
	path = opensmile
	url = https://github.com/audeering/opensmile
[submodule "openBliSSART"]
	path = openBliSSART
	url = https://github.com/openBliSSART/openBliSSART
[submodule "audio_recognition"]
	path = audio_recognition
	url = https://github.com/JiahuiYu/audio_recognition
[submodule "audioRecognition"]
	path = audioRecognition
	url = https://github.com/BitconFeng/audioRecognition
[submodule "src/CAMEL-A-Framework-for-Audio-Analysis"]
	path = src/CAMEL-A-Framework-for-Audio-Analysis
	url = https://github.com/cbefus/CAMEL-A-Framework-for-Audio-Analysis
